@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/*-----------------TEXT TYPED ANIMATION  */
    #class-typed{
      border-right: solid 3px rgba(0,255,0,.75);
      white-space: nowrap;
      overflow: hidden;    
      font-family: 'Source Code Pro', monospace;  
      font-size: 28px;
      color: rgba(255,255,255,.70);
      margin: 0 auto;
    }

    /* Animation */
    #class-typed{
      animation: animated-text 4s steps(29,end) 1s 1 normal both,
                animated-cursor 600ms steps(29,end) infinite;
    }

    /* text animation */

    @keyframes animated-text{
      from{width: 0;}
      to{width: 472px;}
    }

    /* cursor animations */

    @keyframes animated-cursor{
      from{border-right-color: black;}
      to{border-right-color: transparent;}
    }
/* -----------------TEXT TYPED ANIMATION  */


/* ------------------------NAVIGATION BAR */

.navbar {
  
  background: linear-gradient(70deg,rgba(81, 152, 210,0.95),rgba(241, 239, 231, 0.95));
  border-bottom: 0 none;
  font-size: 2em;
  transition: .25s all linear;
}
.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}



.navbar .nav a  {
  font-family:f;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;

}

.navbar .nav a:hover, .navbar .nav a:focus {
  background: #2B2E31;
}
.navbar .active a {
  border-bottom: 2px solid black ;
  
}

.navbar-scrolled {
  background-color: rgba( 0, 0, 0, .5);
}



.navbar-toggle i {
  color: white;
  font-size: 22px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: rgba( 0, 0, 0, .8);
    
  }
}
.navigation-slide {
  cursor: pointer;
  text-align: center;
}

.navigation-slide-a {
  color: #fff !important;
  text-decoration: none !important;
}
/* ------------------------NAVIGATION BAR */























* {
  margin: 0;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #666;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.centered {
  text-align: center
}

.mt {
  margin-top: 50px;
  overflow: hidden;
}

.mb {
  margin-bottom: 50px;
}

.mtb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ptb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

::selection {
  color: #fff;
  text-shadow: none;
  background: #2B2E31;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
  color: black;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

/* FORM CONFIGURATION */

input {
  font-size: 18px;
  min-height: 40px;
  border-radius: 2px;
  line-height: 20px;
  padding: 11px 30px 12px;
  border: none;
  margin-bottom: 10px;
  background-color: #e9f0f2;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.subscribe-input {
  float: left;
  width: 70%;
  text-align: left;
  margin-right: 2px;
}

.subscribe-submit {
  right: 0;
}

@media (max-width: 768px) {
  .subscribe-input {
    float: none;
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
}
.btn-green {
  background: #03C9A9;
  color: white;
  border-radius: 2px;
}

.btn-green:hover {
  background: #1BBC9B;
  color: white
}

/* HEADER SECTION */

#h {
  background: url(../img/logo.png) no-repeat center top;
  padding-top: 200px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
  min-height: 25px;
}

#h h1 {
  font-weight: 900;
  color: #03C9A9;
  font-size: 90px;
  animation: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#h h2 {
  color: #1BA39C;
}

@media (max-width: 768px) {
  #h {
    padding-top: 120px;
    min-height: 50px;
  }

  #h h1 {
    font-size: 50px;
  }
}

/* CALL TO ACTION SECTION */

#cta {
  padding-bottom: 15px;
  padding-top: 15px;
  background: #2f2f2f;
}

#cta p {
  color: #f2f2f2;
  font-size: 16px;
}

/* White Section */

#w {
  padding-bottom: 50px;
  padding-top: 50px;
  color: black;
  max-height:100px;
}

#w i {
  color: rgb(81, 152, 210);
  margin-left: 5px;
  font-size: 16px;
}

/* TAN Section */

#g {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(70deg,rgba(81, 152, 210,0.95),rgba(241, 239, 231, 0.95)),url(../img/toile.jpg);
  background-repeat: no-repeat;
  min-height: 400px;
  color: white;
  box-shadow: maroon;
  border-radius: 12px 12px 0 0;
  background-size: cover; 
}
 @keyframes pulse {
  0% {
    background-color:blue;
  }
  100% {
    background-color: #FF4136;
  }
}
#g h1 {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

#g p {
  color: white;
  font-size: 16px;
}

/* CORNSILK Section */

#r {
  /* background: ,url(../img/toile.jpg); */
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: 400px;
  color: white;
}

#r h1 {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

#r p {
  color: white;
  font-size: 16px;
}




/* Contact Form */

#contact {
  padding: 40px 0;
}

#contact h2 {
  margin-bottom: 20px;
}



.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #03C9A9;
  border: 0;
  padding: 14px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
}

.contact-form .form-send button:hover {
  background: #1ee2c2;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

/* #copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #03C9A9;
}

.credits {
  color: #999;
} */

/* SLYLING BUTTON */

#hide{
  align-items: center;
  background:linear-gradient(144deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

#hide:active,
#hide:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #hide{
    font-size: 24px;
    min-width: 196px;
  }
}
.glass{
  background: linear-gradient(70deg,rgba(81, 152, 210,1),rgba(241, 239, 231, 1));
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, .18);
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, .37);
  padding:10% 30%  0% 30%;
  color: #010101;
  max-height:700px;

}





  /* TYPING TEXT */
  .text-js {
    opacity: 0;
  }
  .cursor {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
  @keyframes flash {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

  .headline {
    margin: 20px;
    color: white;
    font-size: 32px;
    text-align: center;}
  .headline h2 {
      letter-spacing: 1.6px;
      font-weight: 300;
    }
  
    /* .triangle {
		  width : 0;
		  height : 0;
		  border-top : rgb(207, 17, 17) solid 20px;
		  border-bottom : rgb(186, 223, 119) solid 20px;
		  border-left : rgb(0, 0, 0) solid 25px;
		  border-right : rgb(25, 255, 255) solid 25px;
		  position : relative;
		  margin-left : 40px;
		  margin-top : 40px;
		  background-color: red;
			} */

  /* MENU */
  
  .menu{
    list-style-type: none;
    perspective: 1000px;
    margin-top: 10%;
  }
  
  .menu li{
    display: grid;
     grid-template-columns: 20% auto;
    border-radius:10px;
    padding: 14px;
    cursor: pointer;
    transform: rotateY(-35deg) rotateX(15deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-right: 4px solid rgba(0,0,0,.2);
    box-shadow: black;
    transition: 0.7s;
    
  }
  
  .menu li:nth-child(1){
    color:#fff;
   background: linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
    top: -112px;
    z-index: 2;
  }
  
  .menu li:nth-child(2){
     background: linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
    z-index: 1;
    color:white;
  }
  
  .menu li:nth-child(3){
    color:#fff;
    background:linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
    top: 115px;
    z-index: 0;
    
  }
  
  .menu li:hover{
    transform: translateY(30px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    z-index:3; 
    
    
  }
  .menu img{
    width:70px;
  }
  
  .menu strong{
    color: white;
  }
  
/*FLOATING SQUARES  */
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(194, 152, 152, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
          background-color: rgba(194, 152, 152, 0.15);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
          background-color: rgba(194, 152, 152, 0.15);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}

/* UP & BACK BUTTON */
#up {
  height: 50px;
  width: 50px;
  background:linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
#back {
  height: 50px;
  width: 50px;
  background:linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}
#info {
  height: 30px;
  width: 30px;
  background:linear-gradient(135deg,rgb(10, 10, 10,0.95),rgb(83, 82, 81,0.95));
  color: cornsilk;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
cite{
  display: none;
  color: white;
}

#info:hover ~ cite{
    display: block;
}


/* BG STYLING */

.bg, .bg2{
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg{
 -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
  z-index: -1;
  background-color: #226dbc;
}

.bg2{
  z-index: -2;
  background-color: #2a5f98;
  -webkit-clip-path: polygon(64% 100%, 100% 27%, 62% 67%, 4% 100%);
clip-path: polygon(64% 100%, 100% 27%, 62% 67%, 4% 100%);
}
